<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/login" routerLinkActive="active" (click)="isNavbarCollapsed = true">Home Office</a>

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" [attr.aria-expanded]="!isNavbarCollapsed"
    aria-controls="isNavbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" (click)="isNavbarCollapsed = true">
        <a class="nav-link" href="#" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item" (click)="isNavbarCollapsed = true">
        <a class="nav-link" href="#" routerLink="/support" routerLinkActive="active">Support</a>
      </li>
      <li class="nav-item" (click)="isNavbarCollapsed = true">
        <a class="nav-link" href="#" routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>
      <li class="nav-item" (click)="isNavbarCollapsed = true">
        <a class="nav-link" href="#" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>